<html>
    <head>
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <!-- Socket.IO -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- Page Styles -->
        <link rel="stylesheet" href="styles.css">
    </head>
    <body id="app">
        <!-- Lobby -->
        <div id="chat">
            <!-- Global Chat -->
            <div id="globalChatContainer">
                <div id="globalChatBox">
                    <div v-for="message in globalChat">
                        <strong>{{message.sender}}</strong> - {{message.message}}
                    </div>
                </div>
                <div>
                    <strong>Name</strong> <input type="text" v-model="userInfo.name" @change="updateName(userInfo.name)">
                </div>
                <div>
                    <textarea class="chatTextBox" v-model="currentMessage" @keyup.enter="sendMessage(userInfo.name, currentMessage)"></textarea>
                </div>
            </div>
            <!-- Available Players -->
            <div id="onlinePlayers">
                <div class="playerBlock" v-for="player in onlinePlayers">
                    <div class="player" :class="{inviting:checkIfInviting(player), invited:checkIfInvited(player)}" @click="playerClickHandler(player)">
                        <h4>{{player.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Game Board -->
        <div id="gameBoard" v-show="gameIsActive">
            <div class="board">
                <div class="boardRow" v-for="(row, rowIndex) in board" :key="row.id">
                    <div class="boardSquare" :class="[col.squareColor, {valid: col.validMove}]" v-for="(col, colIndex) in row" @click="processSquare(rowIndex, colIndex)">
                        <span style="position:absolute;">{{rowIndex}}-{{colIndex}}</span>
                        <img src="imgs/Red_Piece2.gif" v-if="col.pieceColor == 'red' && col.pieceType == 'regular'">
                        <img src="imgs/Red_Piece_King3.gif" v-if="col.pieceColor == 'red' && col.pieceType == 'king'">
                        <img src="imgs/Black_Piece2.gif" v-if="col.pieceColor == 'black' && col.pieceType == 'regular'">
                        <img src="imgs/Black_Piece_King3.gif" v-if="col.pieceColor == 'black' && col.pieceType == 'king'">
                    </div>
                </div>
            </div>
            <h2 v-show="myColor == currentTurn">Your Turn</h2>
            <h2 v-show="myColor != currentTurn">Opponent's Turn</h2>
            Your Color: <strong>{{myColor}}</strong>
            <button @click="leaveGame();">Leave Game</button>
        </div>
        
        <!-- Application script -->
        <script src="app.js"></script>
    </body>
</html>