.chatTextBox {
    width: 300px;
}

.player {
    background: lightblue;
    margin-bottom: 5px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.player.inviting {
    background: lightyellow;
}

.player.invited {
    background: lightgreen;
}

.board {
    height: 800px;
    width: 800px;
}

.boardRow {
    height: 12.5%; 
    width:100%;
}

.boardSquare {
    height: 100%; 
    width: 12.5%; 
    display: inline-block;
}

.boardSquare.white {
    background: whitesmoke;
}

.boardSquare.black {
    background: darkslategrey;
}

.boardSquare.valid {
    background: yellow;
}
.validMove {
    background: yellow;
}

.playerBlock {
    display: inline;
}

#globalChatContainer {
    display: inline-block;
}

#globalChatBox {
    height: 200px;
    width: 350px;
    max-width: 350px;
    overflow-y: scroll;
}

#onlinePlayers {
    display: inline-block;
    width: 500px;
}